div.header {
    display: block;

    background-color: #808080;
}

form.login {
    float: right;
    padding-right: 10%;
    padding-top: 20px;
}


h1 {
    float: left;
    padding-left: 10%;
}

div {
    padding: 0%;
    margin: 0%;
    border: 0px;
}

div.left {
    background-color: red;
    width: 20%;
    display: inline-block;
    padding: 0%;
    float: left;
    height: 85%;
}

div.center {
    background-color: blue;
    display: inline-block;
    padding: 0%;
    float: center;
    width: 60%;
    height: 85%;
}

div.right {
    background-color: green;
    width: 20%;
    display: inline-block;
    padding: 0%;
    float: right;
    height: 85%;
}

body {
    padding: 0%;
    margin: 0%;
    border: 0px;
}

html {
    padding: 0%;
    margin: 0%;
    border: 0px;
}

button {
    display: inline-block;
    width: 100px;
    height: 25px;
}

input {
    display: inline-block;
}

p {
    display: inline-block;
    padding-left: 40%;
}

input.messageBox {
    display: inline-block;
    width: 80%;
    height: 50px;
    font-size: 100%;
}

button.send {
    display: inline-block;
    width: 19%;
    height: 50px;
}

h3.title {
    text-align: center;
}

ul.messageList {
    list-style-type: none;
}